Access to .IN WHOIS information is provided to assist persons in
determining the contents of a domain name registration record in the
.IN registry database. The data in this record is provided by
.IN Registry for informational purposes only, and .IN does not
guarantee its accuracy.  This service is intended only for query-based
access. You agree that you will use this data only for lawful purposes
and that, under no circumstances will you use this data to: (a) allow,
enable, or otherwise support the transmission by e-mail, telephone, or
facsimile of mass unsolicited, commercial advertising or solicitations
to entities other than the data recipient's own existing customers; or
(b) enable high volume, automated, electronic processes that send
queries or data to the systems of Registry Operator, a Registrar, or
Afilias except as reasonably necessary to register domain names or
modify existing registrations. All rights reserved. .IN reserves
the right to modify these terms at any time. By submitting this query,
you agree to abide by this policy.

Domain ID:D3344301-AFIN
Domain Name:SYSTEMREQUIREMENTS.IN
Created On:15-Mar-2009 05:29:42 UTC
Last Updated On:06-Jun-2011 06:45:19 UTC
Expiration Date:15-Mar-2012 05:29:42 UTC
Sponsoring Registrar:Name.com LLC (R65-AFIN)
Status:CLIENT TRANSFER PROHIBITED
Registrant ID:ncr-8367608-6a1b
Registrant Name:Gangadhar Shingade
Registrant Organization:Protech Pvt. Ltd.
Registrant Street1:45, Shivaji Hsg Society
Registrant Street2:
Registrant Street3:
Registrant City:Pune
Registrant State/Province:MS
Registrant Postal Code:411053
Registrant Country:IN
Registrant Phone:+91.8055673021
Registrant Phone Ext.:
Registrant FAX:
Registrant FAX Ext.:
Registrant Email:drraman007@gmail.com
Admin ID:nca-8367609-2498
Admin Name:Gangadhar Shingade
Admin Organization:Protech Pvt. Ltd.
Admin Street1:45, Shivaji Hsg Society
Admin Street2:
Admin Street3:
Admin City:Pune
Admin State/Province:MS
Admin Postal Code:411053
Admin Country:IN
Admin Phone:+91.8055673021
Admin Phone Ext.:
Admin FAX:
Admin FAX Ext.:
Admin Email:drraman007@gmail.com
Tech ID:nct-8367610-2072
Tech Name:Gangadhar Shingade
Tech Organization:Protech Pvt. Ltd.
Tech Street1:45, Shivaji Hsg Society
Tech Street2:
Tech Street3:
Tech City:Pune
Tech State/Province:MS
Tech Postal Code:411053
Tech Country:IN
Tech Phone:+91.8055673021
Tech Phone Ext.:
Tech FAX:
Tech FAX Ext.:
Tech Email:drraman007@gmail.com
Name Server:NS2581.HOSTGATOR.COM
Name Server:NS2582.HOSTGATOR.COM
Name Server:
Name Server:
Name Server:
Name Server:
Name Server:
Name Server:
Name Server:
Name Server:
Name Server:
Name Server:
Name Server:

